version: 2
jobs:
   build:
     machine: true
     branches:
      only:
        - master
     steps:
       - checkout
       - run: pip install awscli --upgrade --user
       - run: aws configure set aws_access_key_id $AWS_ACCESS_KEY_ID
       - run: aws configure set aws_secret_access_key $AWS_SECRET_ACCESS_KEY
       - run: aws configure set region us-east-1
       - run: aws configure set output json
       - run: aws lambda list-functions
       - run: ls -a
       - run: zip index.zip index.py
       - run: la -a
       - run: printenv