version: 2
jobs:
   build:
     machine: true
     branches:
      only:
        - master
     steps:
       - checkout
       - run: pip install awscli --upgrade --user
       - run: ls ~/.local/Python -a